.panel {
    width:350px;
    float:left;
    height:500px;
    background:#d9dada;
    position:relative;
    left:-350px;
    z-index:10;
}
.slider-arrow {
    padding:5px;
    width:10px;
    float:left;
    background:#d9dada;
    font:400 12px Arial, Helvetica, sans-serif;
    color:#000;
    text-decoration:none;
    position:relative;
    left:-350px;
    z-index:10;
}
#hr {width:320px}
#header {font-family: "Georgia",serif;
    margin-left: 80px;
    margin-bottom:10px;
    margin-top: 10px;}
#owner {margin-left:45px;}
#level {margin-left:108px;}
#ground {margin-left:40px;}
#address {margin-left:120px;}
#roadtable {}
#td1 {text-align:right;}
#td2 {text-align:left;}
#notes {margin-left:8px;}
#submit {margin-left:120px;
    margin-top:5px;}