html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}
#map1 {
    position:absolute;
    float: left;
    height: 50%;
    width: 33%;
    border:5px solid #000000;
}

#map2 {
    position: absolute;
    left:33%;
    float: left;
    height: 50%;
    width: 34%;
    border:5px solid #000000;
}

#map3 {
    position: absolute;
    left:67%;
    float: left;
    height: 50%;
    width: 33%;
    border:5px solid #000000;
}

#map4 {
    position: absolute;
    top:50%;
    float: left;
    height: 50%;
    width: 33%;
    border:5px solid #000000;
}

#map5 {
    position: absolute;
    top:50%;
    left:33%;
    float: left;
    height: 50%;
    width: 34%;
    border:5px solid #000000;
}

#map6 {
    position: absolute;
    top:50%;
    left:67%;
    float: left;
    height: 50%;
    width: 33%;
    border:5px solid #000000;
}
#map1label {
    position:absolute;
    top: 1%;
    left: 1%;
    float: left;
    z-index: 5;
    border:5px
}

#map2label {
    position: absolute;
    top: 1%;
    left:34%;
    float: left;
    z-index: 5;
    border:5px
}

#map3label {
    position: absolute;
    top: 1%;
    left:68%;
    float: left;
    z-index: 5;
    border:5px;
}

#map4label {
    position: absolute;
    top:51%;
    left: 1%;
    float: left;
    z-index: 5;
    border:5px;
}

#map5label {
    position: absolute;
    top:51%;
    left:34%;
    float: left;
    z-index: 5;
    border:5px;
}

#map6label {
    position: absolute;
    top:51%;
    left:68%;
    float: left;
    z-index: 5;
    border:5px;
}